.page {
display: flex;
flex-direction: column;
}
.logo{
  height: 7vh;
  margin: 0px 15px 0px 15px;
}
input{
  background-color: #3a3b3c;
  border: 0px;
  border-radius: 30px;
  height: 3vh;
}
header{
  background-color: #242526;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lef{
  display: flex;
  align-items: center;
}
h2{
  font-family: 'Times New Roman';
  color: white;
  font-weight: normal;
  margin: 15px;
}
.main {
  display: flex;
}

.imgs {
  width: 20vw;
  height: 90vh;
  object-fit: cover;
}
.imgr {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  position: absolute;
  font-family: 'Indie Flower';
  color: aliceblue;
  font-size: 4vw
}
@media screen and (max-width: 520px) {
  .main {
    flex-direction: column;
  }
  .imgs {
    width: 100vw;
    height: 18vh;
  }
  h1 {
    font-size: 7vh;
  }
  h2{
    display: none;
  }
}